h1 {
  text-align: center; 
  font-family: 'Gugi',cursive;
  color:gold
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
    background-color:blue;
}

.head {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    transition: 1s ease;

    &:hover {
        width: 300px;
        background-color: red;
    }
    &:hover .left_eye {
        transform: scale(2);
    }
    &:hover .right_eye {
        transform: scale(2);
    }
}

.eyes {
    display: flex;
    justify-content: space-around
}

.left_eye, .right_eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: white
}

.left_eye {
    position: relative;
    top: 100px;
    transition: 1.5s ease
}

.right_eye {
    position: relative;
    top: 100px;
    transition: 1s ease
}

.head:hover .right_eye {
    width: 20px;
    height: 5px;

    transform: (0, 10px)
}

.head:hover .left_eye {
    transform: scale(2);
    transition: 1s
}
.head:hover .right_eye {
    height: 10px
}
.upper_body {
    margin: 0 auto;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    margin-top: 30px
}

.left_arm, .right_arm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
    transition: 0.5s ease-in-out;
}
.left_arm {
    margin-right: 10px;
}
.left_arm:hover {
    transform: rotate(40deg);
}
.right_arm {
    margin-left: 10px;
}
.right_arm:hover, .right_arm:active {
    transform: rotate(-40deg);
}
.torso {
    width: 200px;
    height: 200px;
    border-radius: 50px 50px 50px 50px;
    transition: 1s ease;
}
.torso:hover, .torso:active {
    transform: rotate(90deg) scale(0.5);
    background-color: orange;
    border: 5px solid green;
}
.lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}
.left_leg, .right_leg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
    transition: 0.5s ease-in-out;
}
.left_leg {
    margin-left: 45px;
}
.left_leg:hover, .left_leg:active {
    transform: rotate(20deg);
}
.right_leg {
    margin-left: 30px;
}
.right_leg:hover, .right_leg:active {
    transform: rotate(-20deg);
}